// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: #f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

$sideBarWidth: 210px;

$headerHeight: 3.7rem;
$footerHeight: 15rem;
$smallFontSize: 0.7rem;
$middleFontSize: 0.9rem;
$bigFontSize: 1.1rem;
$biggerFontSize: 1.3rem;
$biggestFontSize: 1.5rem;
$colorGrey: #e6e6e6;
$colorPrimary: #2363c3;
$colorBlack: #2c3e50;
$colorWhite: #ffffff;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  headerHeight: $headerHeight;
  footerHeight: $footerHeight;
  smallFontSize: $smallFontSize;
  middleFontSize: $middleFontSize;
  bigFontSize: $bigFontSize;
  biggerFontSize: $biggerFontSize;
  bigestFontSize: $biggestFontSize;
  colorGrey: $colorGrey;
  colorPrimary: $colorPrimary;
  colorBlack: $colorBlack;
  colorWhite: $colorWhite;
}
